

.animebody {
    background: linear-gradient(#050112, #030333, #868dc7);
}

.anime-container {
    display: flex;
    flex-direction: column;
    row-gap: 10rem;
}


.anime-title {
    font-size: 140px;
    width: 100%;
    color: white;
    padding-top: 8rem;
    font-family: Staatliches;
    text-align: center;
}

.anime-heading {
    font-size: 70px;
    font-family: 'Poppins';
    opacity: 90%;
    color: white;
}

.anime-cover {
    height: 55rem;
    overflow: hidden;
    position: relative;
    margin-left: -23.5px;
    margin-right: -23.5px;
    text-align:center
}

.anime-cover img{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 40%;
    height: 50rem;
    width: 100%;
    height: 230%;
    transform: translateY(-10rem);
}

.anime-section{
    display:flex;
    flex-direction:column;
}
.large-paragraph {
    width: 40%;
    color: #ffffff;
    font-size: 18px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-right: auto;
    margin-left: auto;
}

.result {
    width: 40rem;
    height: 16rem;
    margin: auto;
    box-shadow: 1px 1px 40px rgb(174 195 255);
    border-radius: 20px;
}
.animeimg{
    margin:auto;

}

.processing-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    overflow: hidden;
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
    column-gap: 5rem;
    margin: auto;
}

.filterimg {
    position: absolute;
    left: -1%;
}

.covercode {
    height: 1100px;/*450px*/
    width: 100%;
    position: relative;
    overflow: hidden;
    position: absolute;
    top: 200%;
    left: 0;
    background: #03033300;
    opacity: 12%;
    z-index: -1;
}

.small-paragraph {
    color: #ffffff;
    font-size: 18px;
    margin-top: 5rem;

}

.small-paragraph2 {
    color: #ffffff;
    font-size: 18px;
    margin-top: 2rem;
}

.pre-paragraph {
    width: 57%;
}

.embed-paragraph {
    width: 60%;
}

.gen-paragraph {
    width: 53%;
}

.gen-img{
    scale:0.6;
}

.rec-stage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.embedding-img {
    border-radius: 10px;
    box-shadow: 1px 1px 20px black;
    user-select: none;
}

.prep-img {
    border-radius: 10px;
    box-shadow: 1px 1px 20px black;
    margin: 5rem;
}

.data-container {
    display: flex;
    column-gap: 6.5rem;
}

.data-cover {
    width: 59rem;
    overflow-x: hidden;
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.embed-cont {
    margin-top: 3rem;
}

.embed {
    background-color: rgb(5 50 118);
    color: white;
    border-width: 0;
    width: 10em;
    height: 2em;
    border-radius: 3em;
    transition: 0.1s ease-in;
    text-decoration: none !important;
    font-size: 18px;
}

.embed:hover {
    color: white;
    transform: scale(1.02);
    box-shadow: 1px 1px 8px 2.5px rgb(146 174 255);
}

.eval-paragraph {
    margin: auto;
    margin-top: 5rem;
    width: 45%;
}

.eval-img {
    border-radius: 10px;
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 10rem;
}

.eval-code {
    border-radius: 10px;
    scale: 0.52;
    box-shadow: 1px 1px 20px black;
    margin-top: -14rem;
}

.front-end {
    width: 100%;
    transition:0.4s ease;
}

.gallery-cover {
    height: 580px;
    width: 1160px;
    margin: auto;
    margin-top: 10rem;
}

.gallery-container {
    display: flex;
    overflow: hidden;
    column-gap: 10rem;
    padding: 3rem;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    column-gap: 112rem;
    transform: translateY(-35rem);

}

.next {
    rotate: 270deg;
    transition: 0.2s ease;

}
.next:hover{
    transform:translateY(0.8rem);
    cursor:pointer;
}

.back {
    rotate: 90deg;
    visibility: hidden;
    transition: 0.2s ease;
}

.back:hover{
    transform:translateY(0.8rem);
    cursor:pointer;

}

.nav-button::selection, back::selection, next::selection {
    color: rgba(255, 255, 255, 0.15);
}

#last-section{
    margin-top:-10rem;
}

.tech-stack {
    display: grid;
    grid-template-columns: repeat(3,0.5fr);
    row-gap: 10rem;
    column-gap: 10rem;
    z-index: 1;
    overflow: hidden;
    margin: auto;
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: 10rem;
}

.tech-stack img {
    width: 200px;
    height: 120px;
    object-fit: scale-down;
}

.stack-cont{
    width:300px;
}