

.animebody {
    background: linear-gradient(#050112, #030333, #868dc7);
}

.anime-container {
    display: flex;
    flex-direction: column;
    row-gap: 10rem;
}


.anime-title {
    font-size: 140px;
    width: 100%;
    color: white;
    padding-top: 8rem;
    font-family: Staatliches;
    text-align: center;
}

.anime-heading {
    font-size: 70px;
    font-family: 'Poppins';
    opacity: 90%;
    color: white;
    margin-top: 5rem;
}

.anime-cover {
    height: 55rem;
    overflow: hidden;
    position: relative;
    margin-left: -23.5px;
    margin-right: -23.5px;
    text-align:center
}

.anime-cover img{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 40%;
    height: 50rem;
    width: 100%;
    height: 230%;
    transform: translateY(-10rem);
}

.anime-section{
    display:flex;
    flex-direction:column;
}
.large-paragraph {
    width: 40%;
    color: #ffffff;
    font-size: 18px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-right: auto;
    margin-left: 58rem;
}

.animeimg{
    margin:auto;

}

.processing-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    height: 500px;
    margin-left: -15px;
    margin-right: -15px;
    column-gap: 10rem;
}

.filterimg {
    position: absolute;
    left: -1%;
}

.covercode {
    height: 1297px;/*450px*/
    width: 100%;
    position: relative;
    overflow: hidden;
    position: absolute;
    top: 200%;
    left: 0;
    background: #03033300;
    opacity: 12%;
    z-index: -1;
}

.small-paragraph {
    color: #ffffff;
    font-size: 18px;
    margin-top: 5rem;
    width: 70%;
    margin-left: 19rem;
}

.title-paragraph{
    width:50%;
}