body {
    display:flex;
    margin-top:50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#mychart{
    width:800px;
    height:500px;
}


h2 {
    color: black;
    font-family: Poppins;
}

h3 {
    color: black;
    font-family: Aldrich;
}

p{
    font-family:Roboto;
}

.hometext{
    width:50%;
    padding:20px;
    margin:auto;
    
}

.hometext p{
    margin-top:60px;
    font-family:Poppins;
    font-size:22px;

}
.hometext{
    text-align:center;
}

.bio {
    margin-top: 2em;
    font-family: Poppins;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    column-gap: 200px;
    justify-content: center;
}

.selfie {
    width: 440px;
    height: 400px;
    float: right;

}

.bio p{
    width:400px;
}

.desc {
    width: 300px;
}

.desc h2{
    font-size:60px;
}

.homenavbar{

}
.navbar-inverse {
    background-color: rgb(3, 36, 86);
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    font-family: Poppins;
    font-size: 20px;

}

.navbar-inverse .navbar-nav > li:hover {
    background-color:#012448;
    color:white;
}

.navbar-header .navbar-brand {
    color: white;
    font-family: Poppins;
    font-size:25px;
}

.navbar-nav{
    float:right;
}

.material-icons {
    padding-left: 10px;
    transform: translateY(5px);
    color: white;
    line-height: 0 !important;
}

.footer {
    height: 300px;
    background-color: rgb(3, 36, 86);
    margin-left: -15px;
    margin-right: -15px;
    z-index:1;
    position:absolute;
}
.footer p{
    color:white;
    font-family:Poppins;
    text-align:center;
    padding-top: 30px;
    margin:auto;
}

.coverimg {
    width: 100%;
    height: 100%;
}

.coverbg {
    min-height: 50%;
    min-width: 40%;
    background-color: #7495f1;
    margin: auto;
    position: absolute;
    z-index: 10;
    right: 0;
    top: 25%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation-name:coverslide;
    animation-duration:1s;
    /*margin-right: -40%;*/
    /*#243973;*/
}

@keyframes coverslide{
    0%{
        transform:translateX(100%);
    }
    100%{
        transform:translateX(0);
    }
}

.covericons {
    display: flex;
    flex-direction: row;
    column-gap: 80px;
    justify-content: center;
}

.linkedicon{
    width:40px;
    margin-top:10px;
    transition:0.2s ease-in;

}

.linkedicon:hover{
    transform:scale(1.3);
}

.giticon {
    width: 60px;
    transition: 0.2s ease-in;
}

.giticon:hover{
    transform:scale(1.3);
}

.covertext{
    margin-top:40px;
}
.coverbg > *{
    text-align:center;
    color:white;
}

.coverbg h4 {
    font-size: 80px;
    font-family: Lexend;
}

.coverbg p {
    font-size: 36px;
    font-family: Poppins;
}

.row{
    height:600px;
    position:relative;
    overflow:hidden;
}

.infoContainer {
    background-color: #f3f3f3;
    height: 87%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    column-gap: 10%;
    margin-top: 200px;
    padding-left: 50px;
    padding-right: 50px;
}

@media(max-width: 1000px){
    .infoContainer{
        display:grid;
        gap:10%;
    }

}
.infotext {
    display: flex;
    height: 500px;
    width: 600px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgb(87 87 105);
    background-color: white;
    z-index:1;
}

.infotext h2 {
    margin:auto;
}

.largerow {
    margin-top: 8em;
    height: 500px;
    margin-left: -15px;
    margin-right: -15px;
}

.proj-row {
    position: relative;
    height: 1500px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 20%;
    background-color: #f3f3f3;
}

.proj1 {
    display: flex;
    height: 40%;
    width: 100%;
    margin-top: 200px;
    padding-left: 50px;
    padding-right: 50px;
    column-gap: 6%;
    transform: translateY(15em);
}
.proj1 img{
    width: 48%;
    height: 79%;
    
}

.section-title {
    font-size: 300px;
    height: 250px;
    z-index: 2;
    position: absolute;
    transform: translateY(200px);
    width: 100%;
    margin-top: -20%;
    text-align: center;
}



.proj1-desc {
    width: 35%;
    font-size: 18px;
}

.proj1-desc h2 {
    font-size: 50px;
}

/*anime slideshow*/

.slidecover {
    background-color: #ff000000;
    width: 660px;
    height: 65%;
    z-index: 10;
    transform: translate(15%,5%);
    position: absolute;
    overflow: hidden;
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;
}


.slider img {
    height: 72%;
}

.slide-container {
    width: 220%;
    height: 140%;
    transform: translateX(0%);
    overflow: hidden;
}

.slider{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
}

.slider2{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
}

.button-cont {
    font-size: 20px;
    height: 4em;
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.button-cont button{
    background-color: rgb(5 50 118);
    color: white;
    border-width: 0;
    width: 14em;
    border-radius: 3em;
}

.proj2 {
    background-color: white;
    display: flex;
    height: 40%;
    width: 100%;
    margin-top: 200px;
    padding-left: 50px;
    padding-right: 50px;
    column-gap: 8%;
}

.proj2 img{
    height: 90%;
    margin-top: 2%;
}


.proj2-desc {
    width: 35%;
    font-size: 18px;
    margin-left: 100px;
    margin-top: 5%;
}

.proj2-desc h2 {
    font-size: 50px;
}

.slidecover2 {
    background-color: #ffffff00;
    width: 32.8%;
    height: 27.5%;
    z-index: 10;
    transform: translate(154.2%,20%);
    position: absolute;
    overflow: hidden;
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;
}

.slide-container2 {
    width: 101%;
    height: 140%;
    transform: translate(-1%,-5%);
    overflow: hidden;
}

