<head>
    <link rel="stylesheet" href="/Content/Site.css" />
    <!--Stops style overiding on other pages-->
    <link rel="stylesheet" href="/Content/anime.css" />
<!-- </head> -->
<div>
    <footer class="footer">
        <p class="footer-title"><span class="bold-text">Socials</span> </p><br />
        <div class="footericons">
            <a href="https://www.linkedin.com/in/titot/" target="_blank">
                <img class="linkedicon" src="https://ik.imagekit.io/contentcdn/Assets/icons/linkedin.png?updatedAt=1693612861368" />
            </a>
            <a href="https://github.com/tito-thomas/" target="_blank">
                <img class="giticon" src="https://ik.imagekit.io/contentcdn/Assets/icons/github.png?updatedAt=1693612859686" />
            </a>
            <a href="mailto:titothomas@hotmail.co.uk"> 
                <span class="emailicon material-symbols-outlined">mail</span>
            </a>
        </div>
        <p class="footer-text">&copy; <span class="year"></span> - Developed by Tito Thomas</p>
    

    </footer>
</div>
