<!DOCTYPE html>
<html>
<head>
    <title>Anime Recommendation System</title>

    <link rel="stylesheet" href="/Content/Site.css" />
    <link rel="stylesheet" href="/Content/anime.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Staatliches" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
    <script type="module" src="https://ik.imagekit.io/contentcdn/Scripts/custom/slideshow.js"></script>

    <script>
        fetch("../Shared/navbar.html")
        .then(response => response.text())
        .then(html => {
            document.getElementById("nav-placeholder").innerHTML = html;
        });

        fetch("../Shared/footer.html")
        .then(response => response.text())
        .then(html => {
            document.getElementById("footer-placeholder").innerHTML = html;
        });

    </script>
    
    <script type="module" src="/Scripts/custom/navbar.js"></script>
</head>

<body class="animebody">
    <div id="nav-placeholder"></div>
    <container class="anime-container">
        <div class="anime-cover">
            <div class="anime-title">Anime Recommendation<br />System</div>
            <img src="https://ik.imagekit.io/contentcdn/Assets/anime-rec/infopage/valley.jpg" class="projectcover-img"/>


            <div class="project-icon-container">
                <a href="https://github.com/tito-thomas/anime-app" target="_blank">
                    <img class="project-giticon" src="https://ik.imagekit.io/contentcdn/Assets/icons/github.png" />
                </a>
            </div>
        </div>
        <div class="anime-section">
            <div class="section-title anime-heading" style="margin-top:5rem">Overview</div>
            <p class="large-paragraph" style="text-align:center">
                For my final year dissertation, I designed and implemented
                a recommendation system for anime TV shows and Movies. The software is catered towards those who are new to anime
                to offer an easy way to get started with this genre of media entertainment.
            </p>
            <img src="https://ik.imagekit.io/contentcdn/Assets/anime-rec/infopage/result.PNG" class="result" />
        </div>

        <div class="anime-section">
            <div class="section-title anime-heading">Tech Stack</div>

            <div class="tech-stack">
                <div class="stack-cont">
                    <img id="csharp" src="https://ik.imagekit.io/contentcdn/Assets/icons/csharp.png" />
                </div>

                <div class="stack-cont">
                    <img id="dotnet" src="https://ik.imagekit.io/contentcdn/Assets/icons/dotnet.png" />
                </div>

                <div class="stack-cont">
                    <img id="javascript" src="https://ik.imagekit.io/contentcdn/Assets/icons/javascript.png" style="padding-left:4rem" />
                </div>

                <div class="stack-cont">
                    <img id="sql" src="https://ik.imagekit.io/contentcdn/Assets/icons/SQLL.png" />
                </div>

                <div class="stack-cont">
                    <img src="https://ik.imagekit.io/contentcdn/Assets/icons/python.png" />
                </div>

                <div class="stack-cont">
                    <img id="pandas" src="https://ik.imagekit.io/contentcdn/Assets/icons/pandas.png" />

                </div>

                <div class="stack-cont">
                    <img id="scitkit" src="https://ik.imagekit.io/contentcdn/Assets/icons/scikitlearn.png" />
                </div>

                <div class="stack-cont">
                    <img id="numpy" src="https://ik.imagekit.io/contentcdn/Assets/icons/numpy.png" />

                </div>

            </div>

        </div>

        <div class="anime-section">
            <div class="section-title anime-heading sys">System Architecture</div>
            <p class="large-paragraph arch-paragraph sys-paragraph">
                Below is a system architecture diagram for the project at the component level. The system was built
                using the Model-View-Controller architecure.
            </p><br>
            <p class="large-paragraph arch-paragraph sys-paragraph"><span class="bold-text">Models</span> contain the back-end data logic and
                with the use of Entity Framework, I was able to use these models to represent tables in my database and execute CRUD commands.
                <span class="bold-text">
            </p><br>
            <p class="large-paragraph arch-paragraph sys-paragraph">Views</span> represent the front-end web pages that the user may interact with.  These pages
                rely on dynmaic data from the models that is processed by the <span class="bold-text">controllers</span>.
            </p>

            <img class="animeimg" src="https://ik.imagekit.io/contentcdn/Assets/anime-rec/infopage/architecture.png" />
        </div>

        <div class="covercode">
            <img class="animeimg filterimg" src="https://ik.imagekit.io/contentcdn/Assets/anime-rec/infopage/collab.png" />
        </div>

        <div class="anime-section">
            <div class="section-title anime-heading hybrid-title">Hybrid System</div>
            <p class="large-paragraph hybrid-paragraph">
                I designed and implemented a hybrid model that uses both content-based and collaborative filtering techniques.
                Content-based and collaborative filtering are common methods for building recommender systems. 
            </p><br>
            <p class="large-paragraph hybrid-paragraph">However, both have drawbacks when used in isolation. My model attempts to mitigate these pitfalls by 
                using both methods to generate more accurate recommendations.
            </p>

            <img class="animeimg hybrid-img" src="https://ik.imagekit.io/contentcdn/Assets/anime-rec/infopage/flowchart.png" />
        </div>
        <div class="processing-container">
            <div class="rec-stage">
                <div class="section-title anime-heading preprocessing-title">Pre-Processing</div>
                <p class="small-paragraph pre-paragraph mobilecode">
                    The <span class="bold-text">pre-processing</span> stage involved manipulating the original dataset to suit the needs of the project. I
                    used Pandas dataframes to restructure the data so it was more useful for generating recommendations. This included
                    creating extra <span class="bold-text">features</span> for the recommender engine and omitting any data that was not useful.
                </p>
                <img class="prep-img animecode-img" src="https://ik.imagekit.io/contentcdn/Assets/anime-rec/infopage/feature.PNG?updatedAt=1693612830493"/>

            </div>

            <div class="rec-stage embedding">
                <div class="section-title anime-heading">Embedding</div>
                <p class="small-paragraph embed-paragraph mobilecode">
                    The next stage was <span class="bold-text">embedding</span> which refers to the vectorisation of our data. The goal
                    here was to convert the text-based data into numerical form so that mathematical operations can be performed on it. Calculations
                    such as cosine similarity were used to gauge how similar different data items were to each other.
                </p>
                <div class="data-cover">
                    <div class="data-container">
                        <!--text data-->
                        <img  class="embedding-img animecode-img " src="https://ik.imagekit.io/contentcdn/Assets/anime-rec/infopage/original.PNG" />
                        <!--embedded dataset-->
                        <img  class="embedding-img animecode-img " src="https://ik.imagekit.io/contentcdn/Assets/anime-rec/infopage/embedded.PNG" />
                    </div>

                </div>
                <div class="embed-cont" style="text-align:center">
                    <button class="embed" value="text">Embed data</button>
                </div>
   
            </div>

        </div>
        <div class="rec-stage gen-rec">
            <div class="section-title anime-heading rec-title">Generate Recommendations</div>
            <p class="small-paragraph gen-paragraph">
                The final stage was to generate the anime recommendations based on similarity calculations using our vectorised data.
                I chose the <span><a href="https://www.ibm.com/topics/knn" style="color:#0089ff" target="_blank">K-Nearest Neighbours Algorithm</a></span> in order to cluster similar groups of users and anime together.
                I experimeneted with multiple distance metrics: Cosine and Euclidean distance.
            </p><br>
            <p class="small-paragraph2 gen-paragraph">
                Finally, I carried out a comprehensive evaluation process to determine the optimal model distance metric and model design
                for generating recommendations.
            </p><br>
            <p class="small-paragraph2 gen-paragraph">
                Below is a code snippet from my project that shows the model being fit with data and the use of K-Nearest Neighbours to cluster
                data points into groups of five based on similarity.
            </p>
            <img src="https://ik.imagekit.io/contentcdn/Assets/anime-rec/infopage/neighbours.png" class="gen-img" />
            <p class="data-source">*Data source can be found <a href="https://www.kaggle.com/datasets/azathoth42/myanimelist?select=anime_cleaned.csv" target="_blank">here</a></p>

        </div>

        <div class="anime-section">
            <div class="section-title anime-heading perf-title">Performance Evaluation</div>
            <p class="large-paragraph eval-paragraph">
                In order to evaluate the performance of the model, I devised a custom formula to measure
                performance. It involves analysing each anime recommendation and assigns points depending on how relevant each recommendation is
                to the users. I compared the results between two distance metrics: Cosine Distance and Euclidean Distance. After reviewing the results,
                I then revised the evaluation formula to address new-found limitations. Throughout this process, I learnt how important it is that
                the evaluation techniques used are appropriate in order to properly gauge the performance of the system and make the correct
                improvements to the model.
            </p>
            <p class="large-paragraph eval-paragraph">
                The diagram below illustrates the logic behind the final evaluation formula that was used.
            </p>
            <img src="https://ik.imagekit.io/contentcdn/Assets/anime-rec/infopage/eval_diagram.png?updatedAt=1693612826361" class="eval-img" />

            <p class="large-paragraph eval-paragraph eval-paragraph2">
                The main rules for the evaluation model are shown implemented in the code below. The code shows how points are allocated for each
                user's anime recommendations.
            </p>
            <img src="https://ik.imagekit.io/contentcdn/Assets/anime-rec/infopage/eval_code.png?updatedAt=1693612828438" class="eval-code" />
        </div>

        <div class="anime-section" id="last-section">
            <div class="section-title anime-heading gallery-heading">Gallery</div>

            <div class="gallery-cover">
                <div class="gallery-container">
                    <img src="https://ik.imagekit.io/contentcdn/Assets/anime-rec/infopage/landing_page.PNG" class="front-end" id="first" />

                    <img src="https://ik.imagekit.io/contentcdn/Assets/anime-rec/infopage/questions.png" class="front-end"/>

                    <img src="https://ik.imagekit.io/contentcdn/Assets/anime-rec/infopage/question1.PNG" class="front-end" />

                    <img src="https://ik.imagekit.io/contentcdn/Assets/anime-rec/infopage/question2.PNG" class="front-end" />

                    <img src="https://ik.imagekit.io/contentcdn/Assets/anime-rec/infopage/recs.PNG" class="front-end" id="last" />
                </div>
                <div class="nav-buttons">
                    <div class="nav-button back" style="user-select:none"><span class="material-symbols-outlined">expand_more</span></div>
                    <div class="nav-button next" style="user-select:none"><span class="material-symbols-outlined">expand_more</span></div>
                </div>
            </div>



        </div>

    </container>
    <div id="footer-placeholder"></div>
</body>
</html>