@{
    ViewBag.Title = "Contact";
}

<center>
    <h2>@ViewBag.Title.</h2>
    <address>
        <strong>Email:</strong>   <a href="mailto:titothomas@hotmail.co.uk">titothomas@hotmail.co.uk</a><br />
        <strong>Phone:</strong> <a href="tel:+44 07496205828">07496205828</a>
    </address>
</center>